/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Custom Styles */

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font: 400 12px/18px 'Raleway', Helvetica, sans-serif;
}

body {
  background: #fefefe;
}

a {
  text-decoration: none;
}

/* Grid */

.container,
.grid {
  width: 80%;
  margin: 0 auto;
}
.sec {
  padding-top: 20vh;
}
/*Header*/

.hidden {
  display: none;
}
.hdr-background {
  height: 800px;
  background: url('background.svg') no-repeat;
  background-size: cover;
  position: relative;
}
.primary-nav,
.fixed-nav {
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
  font-weight: 800;
  font-size: 2.75rem;
  line-height: 3.25rem;
  text-transform: uppercase;
  vertical-align: center;
}
.fixed-nav {
  background: #383961;
}
.primary-nav .nav-content {
  border-bottom: 1px solid #bfd1e5;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.fixed-nav .nav-content {
  border: none;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.nav-content {
  display: flex;
  justify-content: space-between;
  margin-left: 1.25rem;
  margin-right: 1.25rem;
  transition: padding 0.3s;
}
.nav-content a {
  color: #bfd1e5;
}
.nav-content span {
  font-weight: 300;
  color: #ebf5ee;
}
.main-nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: #000;
  visibility: hidden;
  opacity: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  transition: all 0.5s;
}
.main-nav li {
  padding: 2.5vh 0;
}
.main-nav.show-nav {
  visibility: visible;
  opacity: 0.9;
}
.hamburger-circle {
  height: 3.25rem;
  width: 3.25rem;
  border-radius: 50%;
  background: #f44;
  text-align: center;
  cursor: pointer;
  z-index: 100;
  transition: all 0.5s linear;
}
.hamburger-circle i {
  vertical-align: 25%;
  color: white;
  font-size: 0.59em;
}
.hero {
  height: inherit;
  padding-top: 45%;
  color: #ebf5ee;
  margin: 0 2rem;
  text-align: center;
}
.hero p {
  font-size: 1.5rem;
  margin-bottom: 5rem;
}

/* Typography */

h1 {
  font-size: 2.75rem;
  line-height: 3rem;
  font-weight: 800;
  margin-bottom: 1.25rem;
  text-transform: uppercase;
}

h2 {
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 0.5em;
}

h3 {
  font-size: 1.75em;
  margin-bottom: 1rem;
}

h4 {
  font-size: 1.15rem;
  color: #f44;
  margin-bottom: 1rem;
}
h5 {
  font-size: 1.5rem;
  color: #f44;
  font-weight: 600;
  padding: 0 3em;
  margin-bottom: 1em;
}
p {
  line-height: 2rem;
}

/* Buttons */

.btn {
  border: none;
  border-radius: 5px;
  background: #f44;
  color: #ebf5ee;
  text-transform: uppercase;
}

.btn-default {
  font-size: 1.25rem;
  font-weight: 700;
  padding: 1em 3em;
}

.btn-alt {
  padding: 1em;
}

/* About */

.blurb {
  text-align: center;
  margin-bottom: 7.5vh;
}
.blurb:last-of-type {
  margin-bottom: 0;
}
.blurb i {
  color: #f44;
  margin-bottom: 0.3em;
}

/* Gallery */

.gal-item {
  width: 100%;
  height: 30em;
  overflow: hidden;
  position: relative;
  margin-bottom: 1px;
  text-align: center;
  font-weight: 600;
}
.gal-item a {
  color: #ebf5ee;
}
.gal-pic img {
  width: 100%;
  height: 100%;
  transition: all 0.5s ease;
}
.gal-item .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f44;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.overlay p:first-of-type {
  font-size: 1.25rem;
  text-transform: uppercase;
  transform: translate3d(0, -200%, 0);
}
.overlay p:last-of-type {
  transform: translate3d(0, 200%, 0);
}
.gal-pic:hover img {
  transform: scale(1.2);
}
.gal-item:hover .overlay {
  opacity: 0.8;
}
.overlay:hover p:first-of-type,
.overlay:hover p:last-of-type {
  transition: all 0.5s ease;
  transform: translate3d(0, 0, 0);
}

/* Team */

.team-member {
  text-align: center;
  width: 80%;
  margin: 0 auto;
  padding-bottom: 3em;
}
.team-member img {
  width: 80%;
  height: 250px;
  margin-bottom: 1.5em;
}

/* Slideshow */

.slideshow {
  height: 400px;
  width: 100%;
  position: relative;
}
.slide {
  position: absolute;
}
.slide-pic {
  width: 100%;
  height: 175px;
  display: block;
}
.slide-active {
  opacity: 1;
  z-index: 2;
}
.slide-inactive {
  opacity: 0;
  z-index: 1;
  transition: all 0.5s linear;
}
.slide-text {
  background: #542344;
  padding: 1em;
  color: #ebf5ee;
  height: 225px;
}
.quote {
  margin-bottom: 1em;
  font-weight: 600;
  font-size: 1.75em;
}
.quote-person {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 1em;
}
.slide-dots {
  position: absolute;
  bottom: 2em;
  left: 20%;
  right: 20%;
  margin: 0 auto;
  z-index: 3;
  text-align: center;
}
.slide-dot {
  height: 15px;
  width: 15px;
  margin: 0 5px;
  border-radius: 50%;
  background-color: rgba(235, 245, 238, 0.3);
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active {
  background-color: #ebf5ee;
}

/* Contact */
.contact {
  text-align: center;
}
.contact p {
  margin-bottom: 1em;
}
label {
  color: #5f758e;
  font-weight: 700;
  min-width: 300px;
}
input[type='text'],
input[type='email'],
textarea {
  display: block;
  margin: 2em auto;
  width: 75%;
  padding: 0.5rem;
  border-radius: 3px;
  border: solid 1px #5f758e;
}
textarea {
  height: 10em;
}

.flex-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 2.5rem;
}

.flex-inputs {
  min-width: 300px;
  flex: 1;
}

.form-text {
  flex: 1;
}

/* Footer */
.footer {
  text-align: center;
  color: #ebf5ee;
  padding: 2em;
  line-height: 2rem;
}
.primary-footer {
  background: #5f758e;
}
.secondary-footer {
  background: #383961;
}
.location {
  margin-bottom: 2em;
}
.location p,
.social p {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}

.social-items {
  display: flex;
}

.social-items a {
  height: calc(4rem - 4px);
  width: calc(4rem - 4px);
  border: solid 2px #ebf5ee;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ebf5ee;
  margin: 0 0.5rem;
  transition: all 0.7s ease;
}

.social-items a:hover {
  border-color: #f44;
  background: #f44;
}

@media screen and (min-width: 480px) {
  html {
    font-size: 14px;
    line-height: 20px;
  }
  .hero {
    padding-top: 35%;
  }
  h1 {
    font-size: 3rem;
    line-height: 3.25rem;
  }
  .slideshow {
    height: 600px;
  }
  .slide-pic {
    height: 375px;
  }
  .slide-text {
    height: 225px;
  }
}

@media screen and (min-width: 640px) {
  .hero {
    padding-top: 30%;
  }
  .slideshow {
    height: 700px;
  }
  .slide-pic {
    height: 475px;
  }
  .slide-text {
    height: 225px;
  }
}

@media screen and (min-width: 768px) {
  .hero {
    padding-top: 25%;
  }
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .blurb {
    flex: 0 0 45%;
  }
  .tiles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .gal-item {
    width: 49.9%;
    margin-bottom: 0.2%;
  }
  .team-member {
    width: 40%;
  }
  .slideshow {
    height: 900px;
  }
  .slide-pic {
    height: 675px;
  }
  .slide-text {
    height: 225px;
  }
}

@media screen and (min-width: 1000px) {
  .sec {
    padding-top: 25vh;
  }
  .nav-content {
    align-items: center;
    transition: all 0s;
  }
  .main-nav {
    position: relative;
    height: inherit;
    width: 45vw;
    background-color: inherit;
    visibility: visible;
    opacity: 1;
    flex-direction: row;
    font-size: 1.25rem;
    line-height: 1.75rem;
    transition: all 0s;
  }
  .hamburger-circle {
    display: none;
  }
  .blurb {
    flex: 0 0 30%;
  }
  .team-member {
    width: 20%;
  }
  .team-member img {
    height: 180px;
  }
  .slideshow {
    height: 350px;
  }
  .slide {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: stretch;
  }
  .slide-pic,
  .slide-text {
    height: auto;
    width: 50%;
    flex: 0 0 auto;
  }
  .slide-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .slide-dots {
    left: 70%;
    bottom: 4em;
  }
  .primary-footer {
    display: flex;
    justify-content: space-around;
  }
}

@media screen and (min-width: 1200px) {
  .gal-item {
    width: 24.9%;
    height: 25em;
    margin-bottom: 0.2%;
  }
}
